@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
* {
    text-align: center;
    font-family: Questrial;
}

body {
    background-color: #1D2529;
}

.GeneralH1 {
    font-size: 100px;
    color: white;
}

.landingPageText {
    color: #F6EFDC;
    -webkit-text-stroke: 1px #000;
    paint-order: stroke fill;
}

.fatText { /*Questrial Fill FFFFFF,   stroke 1px outside F6EFDC, Drop shadow blur4 y4 000000 opacity25% */
    -webkit-text-stroke: 1px #F6EFDC;
    paint-order: stroke fill;
    text-shadow:  4px 0px 4px rgba(0, 0, 0, 0.25);
}

